.navbar {
  display: flex;
  flex-direction: column;
  background-color: #5dd37c;
  color: white;
  padding: 11px 28px;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bottom-navbar {
  display: none;

}

.left {
  display: flex;
  align-items: center;
}

.hamburger {
  font-size: 24px;
  margin-right: 20px;
}

.logo {
  height: 55px;

}

.input {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #82f3a1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 16px;
  margin-left: 20px;
}

.input input {
  color: white;
  background-color: transparent;
}

.input input:focus {
  outline: none;
}

.input-icon {
  /* position: absolute; */
  /* right: 180px; */
  /* Adjust the position of the icon */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  font-size: 25px;
}

.right {
  display: flex;
  align-items: center;
}

.cart {
  position: relative;
  font-size: 28px;
  margin-right: 25px;
  margin-top: 10px;

}

.cart-badge {
  font-size: 10px;
  position: absolute;
  top: -6px;
  right: 1px;
  background-color: rgb(12, 45, 12);
  color: white;
  border-radius: 100%;
  padding: 2px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truck {
  position: relative;
  font-size: 28px;
  margin-right: 25px;
}


.user {
  position: relative;
  font-size: 28px;
  margin-right: 25px;
  font-weight: 300;
}


.shop {
  background: #fff;
  padding: 10px 25px;
  background: #feffed;
  border-radius: 8px;
  margin-left: 1rem;
  white-space: nowrap;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #095933;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.shop-all {
  font-weight: 800;
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2px 0px;
  }

  .top-navbar {
    padding: 0px 10px;
  }

  .bottom-navbar {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    background-color: inherit;

    border-top: 1px solid whitesmoke;
  }

  .input-bottom {
    width: 100%;
    padding: 0px 5px;
    display: flex;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #fff;
    width: 100%;
    background-color: white;

  }

  .input-bottom input {
    color: black;
    background-color: transparent;
    width: 90%;
  }

  .input-bottom input:focus {
    outline: none;
  }

  .input-bottom-icon {
    /* right: 180px; */
    /* Adjust the position of the icon */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    font-size: 25px;
    color: grey;
  }

  .input {
    display: none;
  }

  .shop {
    display: none;
  }

}